<style>
 .custom-ins-class{
   margin: 0 auto;
   padding: 0;
   padding: 0;
   border-radius: 20px;
   max-width: 1400px;
 }
.cus-insta-text-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
}

.cus-insta-text-part h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #000;
    padding-top: 40px;
    margin: 0;
    }
  .cus-insta-text-part a {
    margin: 0;
    text-decoration: none;
    color: #000;
  }

.custom-section-for-instagram-mb{
    display: none;
}

.custom-section-for-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5rem 0;
    gap: 10px;
    border-radius: 0 0 20px 20px;
    margin-bottom: 60px;
}


.cus-sec-left-part {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-width: 50%;
    height: 600px;
}


.cus-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.cus-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.cus-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.cus-image img:hover {
    transform: scale(1.05);
}


.image-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.image-2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.image-3 {
    grid-column: 1;
    grid-row: 2;
    position: relative;
}

.video-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

img.video-icon {
    width: unset;
    height: unset;
}

.image-4 {
    grid-column: 2;
    grid-row: 2;
}


.cus-sec-right-part {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 50%;
    height: 600px;
}


.image-5 {
    grid-column: 1;
    grid-row: 1 / span 2;
    position: relative;
    margin-right: 5px;
}


.image-6 {
    grid-column: 2;
    grid-row: 1;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.image-7 {
    grid-column: 3;
    grid-row: 1;
    margin-left: 5px;
    margin-bottom: 5px;
}

.image-8 {
    grid-column: 2 / span 3;
    grid-row: 2;
    margin-top: 5px;
    margin-left: 5px;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-content img, .lightbox-content video {
     max-width: 432px;
     min-height: 90vh;
     object-fit: cover; 
     border-radius: 15px;
     min-width: 432px;
}
  .lightbox.active .lightbox-content img, 
.lightbox.active .lightbox-content video {
    display: block;
}


.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1;

}
.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    background: #d3dbe2;
    padding: 5px 15px;
    border-radius: 50%;
    user-select: none;
    height: 50px;
    width: 50px;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.next:hover {
    background: #ffffff;
    transition: 0.3s;
  }
  .prev:hover {
    background: #ffffff;
    transition: 0.3s;
  }

.prev {
    left: 36%;
    z-index: 1;

}

.next {
    right: 36%;
    z-index: 1;

}
  
@media (min-width: 768px) {
  .next {
    right: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(236px, -50%);
}
    .prev {
    right: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-283px, -50%);
}
}


@media (max-width: 767px) {
  .custom-section-for-instagram{
    display: none;
  }
 .custom-ins-class{
    margin: 40px 15px;
 }
  .cus-insta-text-part h1 {
    font-size: 20px;
    max-width: 100%;
    padding-top: 0;
  }

  .custom-section-for-instagram-mb {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px 0 0 0;
    border-radius: 0 0 20px 20px;
}


.cus-sec-mb-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    max-width: 100%;
    height: 550px;
    width: -webkit-fill-available;
}


.cus-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.cus-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.3s ease;
}

.cus-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.cus-image img:hover {
    transform: scale(1.05);
}


.image-1 {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 5px;
    margin-right: 5px;
}

.image-2 {
    grid-column: 1 ;
    grid-row: 2 / span 3;
    position: relative;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
}

.image-3 {
    grid-column: 1 ;
    grid-row: 5 / span 6;
    margin-right: 5px;
    margin-top: 5px;
}

.image-4 {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-bottom: 5px;
    margin-left: 5px;
  }

.image-5 {
    grid-column: 2;
    grid-row: 3 / span 6;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}
  .prev {
    left: 20px !important;
    z-index: 1;

}

.next {
    right: 20px !important;
    z-index: 1;

}

  .lightbox-content img, .lightbox-content video {
     max-width: 100%;
     min-height: 100vh;
     object-fit: cover; 
     border-radius: 15px;
}



}


    </style>

    <div class="custom-ins-class">

     <div class="cus-insta-text-part">
      <h1>JOIN THE FOLLOWING</h1>
      <a target="blank" href="https://www.instagram.com/barakastore.fr/">@barakashop</a>
     </div>

  <div class="custom-section-for-instagram">
    <div class="cus-sec-left-part">
            <div class="cus-image image-1">
            <video autoplay muted loop playsinline>
             <source src="https://cdn.shopify.com/videos/c/o/v/b8e3d928a290423ab10177d810290601.mp4" type="video/mp4">
             Your browser does not support the video tag.
             </video>
            <a target="blank" href="https://www.instagram.com/barakastore.fr/"> <span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span> </a>
           </div>
           <div class="cus-image image-2">
            <video autoplay muted loop playsinline>
             <source src="https://cdn.shopify.com/videos/c/o/v/6b09e6446100445999b51d9df4707008.mp4" type="video/mp4">
             </video>
            <a target="blank" href="https://www.instagram.com/barakastore.fr/"> <span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span> </a>
           </div>
           
           <div class="cus-image image-3">
            <video autoplay muted loop playsinline>
             <source src="https://cdn.shopify.com/videos/c/o/v/bdc3ffb86b3943b29751e9ad4920a9bc.mp4" type="video/mp4">
             Your browser does not support the video tag.
             </video>
            <a target="blank" href="https://www.instagram.com/barakastore.fr/"> <span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span> </a>
           </div>
           <div class="cus-image image-4">
            <video autoplay muted loop playsinline>
             <source src="https://cdn.shopify.com/videos/c/o/v/4e1c31292d4d4e5c9a3d9b42692f98ed.mp4" type="video/mp4">
             Your browser does not support the video tag.
             </video>
            <a target="blank" href="https://www.instagram.com/barakastore.fr/"> <span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span> </a>
           </div>
    </div>
    <div class="cus-sec-right-part">
            <div class="cus-image image-5">
            <video autoplay muted loop playsinline>
            <source src="https://cdn.shopify.com/videos/c/o/v/cd6fd4dc25f64983b32ea63f4f700406.mp4" type="video/mp4">
            Your browser does not support the video tag.
           </video>
            <a target="blank" href="https://www.instagram.com/barakastore.fr/"><span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span></a>
           </div>
           <div class="cus-image image-6">
            <video autoplay muted loop playsinline>
             <source src="https://cdn.shopify.com/videos/c/o/v/d5e9532b2ebc49c6a57212e66886436f.mp4" type="video/mp4">
             Your browser does not support the video tag.
             </video>
            <a target="blank" href="https://www.instagram.com/barakastore.fr/"> <span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span> </a>
           </div>
           <div class="cus-image image-7">
            <video autoplay muted loop playsinline>
             <source src="https://cdn.shopify.com/videos/c/o/v/b6cd674023d2481a96048590f72d07c8.mp4" type="video/mp4">
             Your browser does not support the video tag.
             </video>
            <a target="blank" href="https://www.instagram.com/barakastore.fr/"> <span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span> </a>
           </div>
           <div class="cus-image image-8">
            <img src="{{ section.settings.image_08 | img_url:'master' }}" alt="">
           </div>
    </div>
</div>


    <div class="custom-section-for-instagram-mb">
      <div class="cus-sec-mb-part">
             <div class="cus-image image-1">
              <video autoplay muted loop playsinline>
              <source src="https://cdn.shopify.com/videos/c/o/v/b8e3d928a290423ab10177d810290601.mp4" type="video/mp4">
              Your browser does not support the video tag.
             </video>
              <a target="blank" href="https://www.instagram.com/barakastore.fr/"><span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span></a>
             </div>
             <div class="cus-image image-2">
              <video autoplay muted loop playsinline>
              <source src="https://cdn.shopify.com/videos/c/o/v/bdc3ffb86b3943b29751e9ad4920a9bc.mp4" type="video/mp4">
              Your browser does not support the video tag.
             </video>
              <a target="blank" href="https://www.instagram.com/barakastore.fr/"><span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span></a>
             </div>
             <div class="cus-image image-3">
              <video autoplay muted loop playsinline>
              <source src="https://cdn.shopify.com/videos/c/o/v/6b09e6446100445999b51d9df4707008.mp4" type="video/mp4">
              Your browser does not support the video tag.
             </video>
              <a target="blank" href="https://www.instagram.com/barakastore.fr/"><span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span></a>
             </div>
             <div class="cus-image image-4">
              <video autoplay muted loop playsinline>
              <source src="https://cdn.shopify.com/videos/c/o/v/d5e9532b2ebc49c6a57212e66886436f.mp4" type="video/mp4">
              Your browser does not support the video tag.
             </video>
              <a target="blank" href="https://www.instagram.com/barakastore.fr/"><span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
            </svg> </span></a>
             </div>
             <div class="cus-image image-5">
              <video autoplay muted loop playsinline>
              <source src="https://cdn.shopify.com/videos/c/o/v/cd6fd4dc25f64983b32ea63f4f700406.mp4" type="video/mp4">
              Your browser does not support the video tag.
             </video>
              <a target="blank" href="https://www.instagram.com/barakastore.fr/"><span class="video-icon" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9442 0.984375L16.178 5.90544H10.1105L7.22894 1.01487C7.45294 1.00208 7.68455 0.993229 7.92703 0.98831L8.29783 0.984375H12.9442ZM15.4745 0.984375H15.7986C19.1259 0.984375 20.6569 1.72617 21.9314 2.84084C22.7798 3.60434 23.3801 4.56405 23.6668 5.61521L23.7429 5.90544H18.7095L15.4745 0.984375ZM4.96284 1.35527L7.6454 5.90544H0.353455C0.573262 4.88774 1.08502 3.94024 1.83737 3.158C2.58973 2.37576 3.55622 1.78629 4.63989 1.44874L4.96284 1.35527ZM15.5485 13.9816L10.6063 11.4001C10.4656 11.3265 10.307 11.2854 10.1445 11.2806C9.98206 11.2757 9.82078 11.3071 9.67496 11.3721C9.52915 11.4371 9.4033 11.5336 9.30856 11.6531C9.21383 11.7727 9.15313 11.9115 9.13185 12.0573L9.12315 12.1753V17.3384C9.12352 17.4852 9.16376 17.6296 9.24033 17.759C9.3169 17.8884 9.42746 17.9987 9.56226 18.0804C9.69707 18.162 9.85199 18.2124 10.0134 18.2271C10.1748 18.2418 10.3377 18.2204 10.4878 18.1648L10.6063 18.1127L15.5485 15.5311C15.689 15.4576 15.8074 15.3539 15.8931 15.2292C15.9789 15.1045 16.0293 14.9626 16.0401 14.8161C16.0508 14.6695 16.0215 14.5228 15.9547 14.389C15.888 14.2551 15.7858 14.1382 15.6572 14.0485L15.5485 13.9816ZM0.107708 7.87307H23.9908L24.0072 8.22725L24.0104 8.41319V15.2006C24.0104 18.212 23.1894 19.5972 21.9575 20.7493C20.7059 21.8453 19.239 22.5753 16.1617 22.6274L15.7986 22.6304H8.29891C4.97154 22.6304 3.4416 21.8876 2.16611 20.7719C0.954774 19.6405 0.150115 18.3143 0.0913969 15.5282L0.0881348 15.2006V8.41319L0.0913969 8.22725L0.107708 7.87307Z" fill="white"/>
             </svg> </span></a>
             </div>
      </div>
  </div>

<div id="lightbox" class="lightbox">
    <span class="close">&times;</span>
    <span class="prev">&#10094;</span> <!-- Left arrow -->
    <span class="next">&#10095;</span> <!-- Right arrow -->
    <div class="lightbox-content">
        <img id="lightbox-img" src="" alt="">
        <video id="lightbox-video" controls>
            <source id="lightbox-video-source" src="" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>



      </div>

 <script>
document.addEventListener("DOMContentLoaded", function () {
    const lightbox = document.getElementById("lightbox");
    const lightboxImg = document.getElementById("lightbox-img");
    const lightboxVideo = document.getElementById("lightbox-video");
    const lightboxVideoSource = document.getElementById("lightbox-video-source");
    const closeBtn = document.querySelector(".close");
    const prevBtn = document.querySelector(".prev");
    const nextBtn = document.querySelector(".next");
    const mediaItems = Array.from(document.querySelectorAll(".cus-image img, .cus-image video"));
    let currentIndex = 0;

    function showMedia(index) {
        if (index < 0) index = mediaItems.length - 1; // Loop to last item
        if (index >= mediaItems.length) index = 0; // Loop to first item

        currentIndex = index;
        const item = mediaItems[currentIndex];

        // Hide all elements with class .icon-hide when opening the lightbox
        document.querySelectorAll('.icon-hide').forEach(el => el.style.display = 'none');

        lightbox.style.display = "flex";
        if (item.tagName === "IMG") {
            lightboxImg.src = item.src;
            lightboxImg.style.display = "block";
            lightboxVideo.style.display = "none";
        } else if (item.tagName === "VIDEO") {
            lightboxVideoSource.src = item.querySelector("source").src;
            lightboxVideo.load();
            lightboxVideo.style.display = "block";
            lightboxImg.style.display = "none";
            lightboxVideo.play();
            lightboxVideo.muted = true; // Corrected this line
        }
    }

    // Open lightbox on click
    mediaItems.forEach((item, index) => {
        item.addEventListener("click", function () {
            showMedia(index);
        });
    });

    // Close lightbox
    closeBtn.addEventListener("click", function () {
        lightbox.style.display = "none";
        lightboxVideo.pause();

        // Show all elements with class .icon-hide again when closing the lightbox
        document.querySelectorAll('.icon-hide').forEach(el => el.style.display = 'block');
    });

    // Next button click
    nextBtn.addEventListener("click", function () {
        showMedia(currentIndex + 1);
    });

    // Prev button click
    prevBtn.addEventListener("click", function () {
        showMedia(currentIndex - 1);
    });

    // Close lightbox when clicking outside the content
    lightbox.addEventListener("click", function (e) {
        if (e.target === lightbox) {
            lightbox.style.display = "none";
            lightboxVideo.pause();

            // Show all elements with class .icon-hide again when clicking outside
            document.querySelectorAll('.icon-hide').forEach(el => el.style.display = 'block');
        }
    });

    // Keyboard navigation
    document.addEventListener("keydown", function (e) {
        if (lightbox.style.display === "flex") {
            if (e.key === "ArrowRight") showMedia(currentIndex + 1); // Next
            if (e.key === "ArrowLeft") showMedia(currentIndex - 1); // Previous
            if (e.key === "Escape") {
                lightbox.style.display = "none";
                lightboxVideo.pause();

                // Show all elements with class .icon-hide again when escaping
                document.querySelectorAll('.icon-hide').forEach(el => el.style.display = 'block');
            }
        }
    });
});



</script>



{% schema %}
{
  "name": "Cus Instagram Design",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_01",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_02",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_03",
      "label": "Icon Image 3"
    },
    {
      "type": "image_picker",
      "id": "image_04",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "image_05",
      "label": "Icon Image 5"
    },
    {
      "type": "image_picker",
      "id": "image_06",
      "label": "Image 6"
    },
    {
      "type": "image_picker",
      "id": "image_07",
      "label": "Image 7"
    },
    {
      "type": "image_picker",
      "id": "image_08",
      "label": "Image 8"
    },
    {
      "type": "image_picker",
      "id": "mb_image_01",
      "label": "Mb Image 1"
    },
    {
      "type": "image_picker",
      "id": "mb_image_02",
      "label": "Mb Icon Image 2"
    },
    {
      "type": "image_picker",
      "id": "mb_image_03",
      "label": "Mb Image 3"
    },
    {
      "type": "image_picker",
      "id": "mb_image_04",
      "label": "Mb Image 4"
    },
    {
      "type": "image_picker",
      "id": "mb_image_05",
      "label": "Mb Icon Image 5"
    }
  ],
  "presets": [
    {
      "name": "Cus Instagram Design"
    }
  ]
}
{% endschema %}